<% include ./partials/header %>

<h1>this is the index page</h1>

<% blogs.forEach(function(blog){ %>
    <div>
        <h1> <%= blog.name %></h1>
        <img src="<%= blog.image %>"  />
        <span><%= blog.created %></span>
        <p> <%= blog.body %> </p>
    </div>
<% }) %>

<% include ./partials/footer %>